<ul class="nav nav-pills  navbar-dark bg-company-red " >
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="/dash"   routerLinkActive="active" style="color:black">Home</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link " routerLink="/list-emp"  routerLinkActive="active" style="color:black">Employees</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link " routerLink="/admin"  routerLinkActive="active" style="color:black">Settings</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link btn" href="#" style="color:black">Logout</a>
    </li>
  </ul>